<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <link rel="stylesheet" href="./css/style.css">
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-xl-3">
          <nav
            class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top"
            id="sideNav"
          >
            <!-- <a class="navbar-brand js-scroll-trigger" href="#page-top"> -->
            <a class="navbar-brand">
              <span class="d-block d-lg-none">Trương Văn Huy</span>
              <span class="d-none d-lg-block">
                <img
                  class="img-fluid img-profile rounded-circle mx-auto mb-2 img-zoomable"
                  src="img/avt.JPG"
                  
                />
              </span>
            </a>
            <button
              class="navbar-toggler"
              type="button"
              data-toggle="collapse"
              data-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <span class="navbar-toggler-icon"></span>
            </button>
            <div data-spy="scroll" data-target="#navbar-example3" data-offset="0" class="collapse navbar-collapse  id="navbarSupportedContent ">
              <ul class="navbar-nav">
                <li class="nav-item">
                  <a class="nav-link js-scroll-trigger" href="#about">Information</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link js-scroll-trigger" href="#experience"
                    >Experience</a
                  >
                </li>
                <li class="nav-item">
                  <a class="nav-link js-scroll-trigger" href="#education"
                    >Education</a
                  >
                </li>
                <li class="nav-item">
                  <a class="nav-link js-scroll-trigger" href="#skills"
                    >Skills</a
                  >
                </li>
                <li class="nav-item">
                  <a class="nav-link js-scroll-trigger" href="#projects"
                    >Projects</a
                  >
                </li>
                <li class="nav-item">
                  <a class="nav-link js-scroll-trigger" href="#interests"
                    >Interests</a
                  >
                </li>
                <li class="nav-item">
                  <a class="nav-link js-scroll-trigger" href="#the-end"
                    >The End</a
                  >
                </li>
              </ul>
            </div>
          </nav>
        </div>
        <div class ="col-xl-9 content ">
        <div class="about" id="about">  
          <h1>Information</h1>
          <p><strong>Name: </strong><span class="infomation">Trương Văn Huy </span></p>
          <p><strong>Address: </strong><span class="infomation">An Thanh-Tứ Kỳ-Hải Dương </span></p>
          <p><strong>Email:</strong> <span class="infomation">huycold1999@gmail.com</span>   </p>
             
          <p>Welcome to visit my CV online!</p>
         <a href="https://www.facebook.com/profile.php?id=100042030905480" ><img class="imgFrofile" title="facebook" src="./img/facebook1.png"   alt=""></a>
         <a href="https://www.google.com/maps/place/%C4%90i%E1%BB%87n+n%C6%B0%E1%BB%9Bc+Ti%E1%BA%BFn+Nam/@20.8035368,106.4532408,17z/data=!3m1!4b1!4m5!3m4!1s0x31358958257221d3:0x6396168bf9cbac49!8m2!3d20.8035368!4d106.4554295"><img class="imgFrofile" title="myhome"src="./img/house.png" alt=""></a>
         
        </div>
          <hr>
        

        <div class="experience" id="experience">
             
        <p><h1>EXPERIENCE</h1></p>
            <div class ="row" > 
            <div class="col-sm-12 col-lg-6 col-xl-6 col-md-6" style="height: 60%;">
              <h2><a style="text-decoration: none" href="https://www.facebook.com/watch/mphackademy/">Mp soft</a> </h2>
              <img src="./img/mp.jpg" class="imgMp" alt="">
              <br>
              <br>
             <p> August 2019 - November 2019</p>
            </div>
            <div class="col-sm-12 col-lg-6 col-xl-6 col-md-6" style="height: 60%;">
              <h2><a style="text-decoration: none" href="https://www.facebook.com/nodemy.vn/">Nodemy</a></h2>
              <img src="./img/nodemy.jpg" class="imgNodemy" alt="">
              <br>
              <br>
              <p>December 2019 - February 2020</p>
            </div>
           </div>
         
        </div>
        <hr>
        <div class = "education" id="education">
            <h1>EDUCATION</h1>
            <p> 2005-2010 : <span><a style="text-decoration: none" href=""> An Thanh primary school</a></span></p>
            <p> 2010-2014 : <span><a style="text-decoration: none" href="">An Thanh junior high school</a></span></p>
            <p> 2014-2017 :<span><a style="text-decoration: none" href=""> Cau Xe High School</a></span></p>
            <p> 2017 - present:<span><a style="text-decoration: none" href="">University of Engineering and Technology(UET-VNU)</a></span></p>
          
        </div>
        <hr>
        <div class="skills" id="skills">
          <h1>Skills</h1>
          <p>PROGRAMMING LANGUAGES & TOOLS</p>
        <div class="skill">     
          <img title="reactjs" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9Ii0xMS41IC0xMC4yMzE3NCAyMyAyMC40NjM0OCI+CiAgPHRpdGxlPlJlYWN0IExvZ288L3RpdGxlPgogIDxjaXJjbGUgY3g9IjAiIGN5PSIwIiByPSIyLjA1IiBmaWxsPSIjNjFkYWZiIi8+CiAgPGcgc3Ryb2tlPSIjNjFkYWZiIiBzdHJva2Utd2lkdGg9IjEiIGZpbGw9Im5vbmUiPgogICAgPGVsbGlwc2Ugcng9IjExIiByeT0iNC4yIi8+CiAgICA8ZWxsaXBzZSByeD0iMTEiIHJ5PSI0LjIiIHRyYW5zZm9ybT0icm90YXRlKDYwKSIvPgogICAgPGVsbGlwc2Ugcng9IjExIiByeT0iNC4yIiB0cmFuc2Zvcm09InJvdGF0ZSgxMjApIi8+CiAgPC9nPgo8L3N2Zz4K" alt=""  style="width:40px">
          
        </div>

        <br>
        
        <div class ="skill">
         
          <img title="nodejs" src="./img/nodejs.jpg"  style=" width: 40px;"alt="nodejs">
          
        </div>
        <br>
        <div class="skill">     
          <img title="bootstrap" src="./img/bootstrap.png "alt=""  style="width:40px">
          
        </div>
        <br>
        <div class="skill">     
          <img title="javascript" src="./img/javascript.png "alt=""  style="width:40px">
          
        </div>
        <br>
        <div class="skill">     
          <img title="mongodb" src="./img/mongo.jpg "alt=""  style="width:40px">
        
        </div>
        <br>
        <div class="skill">     
          <img title="github" src="./img/github.jpg "alt=""  style="width:40px">
          
        </div>
        </div>
        <hr>
        <div class="project" id="projects">
          <h1>PROJECT</h1>
          <p>Link github :<a style="text-decoration: none;" href="https://github.com/"> https://github.com/huycold </a></p>
          <p> In the past: i created game snake with C++,dictionary with Java,game Boom with Java </p>
          <p> In the present 5/18/2020:i created todoAPP with Reactjs , i am developing Awesome chat with Nodejs and Mongodb (50%) <span>
            <a style="text-decoration: none" href="https://github.com/huycold/awesome_chat">https://github.com/huycold/awesome_chat</a>
          </span></p>
          
      
        </div>
        <hr>
        <div class="my self" id="interests">
          <i class="fab fa-facebook-square"></i>
          <h1>My seft and stories</h1>
          <p>I am  volunteer in Hai Duong Voluntary Club at VNU</p>
          <p>My nickname is "Huy Ngáo "</p>
          <p>I like the silence</p>
        </div>
        <hr>
        <div class="theend" id="the-end">
          <h1>The end</h1>
          Finally, I would like to say "Thank You" for spent time to look at my CV profile.
          <img src="./img/theend.jpg" width="50%" alt="">
        </div>
      </div>
    </div>
  </body>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

</html>
